*{
    margin: 0;
    padding: 0;
    background-color: aliceblue;
    height: fit-content;
    width: 100%;
    font-family: 'Inter', sans-serif;
}

main{
    display: flex;
    flex-direction: column;
    text-align: center;
}


h1,h2{
  font-family: 'poppins', sans-serif;
}

#page--heading{
    margin: 20px auto 10px auto;
    color: blue;
    font-weight: bolder;    
}

.boxes{
    width: 80%;
    max-width: 1000px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    border: 2px solid black;
    justify-content: space-evenly;
    margin: 40px auto 20px auto;
}
.box{
    border: 1px dashed red;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.box h4{
    font-size: small;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.box p{
    font-size:x-small;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.circle{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    align-content: center;
    border: 2px solid rgb(74, 73, 73);
    background-color: rgba(245, 245, 220, 0.605);
    color: rgba(114, 111, 111, 0.889);
}

/*  ---------------------------------------------    */

/* Designing of first page of Personal Info  */

.info--section{
    display: grid;
    grid-gap: 10px 10px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(13, 1fr) 2fr;
    align-items: end;
}
.block {
    width: 70%;
    max-width: 900px;
    height: fit-content;
    padding: 20px;
    border: 1px solid gray;
    box-sizing: border-box;
    box-shadow: 1px 2px 1px 1px gray;
    justify-self: center;
    text-align: start;
    text-indent: 4px;
}

.required{
    color: #ef4444;
    margin-left: 2px;
}

.head-tag{
    grid-column: 1/ 3;
    color: blue;
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
}
.tag{
    grid-column: 1/ 3;
    grid-row: 2/ 3;
    font-size: small;
    align-self: flex-start;
    
}
#full--name{
    grid-column: 1/ 3;
    border: 0.7px solid rgb(104, 100, 100);
    border-radius: 7px;
    text-indent: 10px;
    height: 100%;
}
#email--heading{
    grid-row: 5/ 6;
}
#email--input{
    grid-column: 1/ 3;
    border: 0.7px solid rgb(104, 100, 100);
    border-radius: 7px;
    text-indent: 10px;
    height: 100%;
}
#college--input{
    grid-row: 7/ 8;
}
#options--college{
    grid-row: 8/ 9;
    grid-column: 1/ 2;
    border: 0.7px solid rgb(104, 100, 100);
    border-radius: 7px;
    text-indent: 10px;
    height: 100%;
}
#options--year{
    grid-column: 2/ 3;
    border: 0.7px solid rgb(104, 100, 100);
    border-radius: 7px;
    text-indent: 10px;
    height: 100%;
}
#options--branch{
    grid-column: 1/ 2;
    border: 0.7px solid rgb(104, 100, 100);
    border-radius: 7px;
    text-indent: 10px;
    height: 100%;
}
#bio--heading{
    grid-row: 11/ 12;
}
#bio--input{
    grid-row: 12/ 14;
    grid-column: 1/ 3;
    border: 0.7px solid rgb(104, 100, 100);
    border-radius: 7px;
    text-indent: 10px;
    height: 100%;
}
#prev{
    grid-row: 14/ 15;
    grid-column: 1/ 2;
    border: 1px solid gray;
    border-radius: 10px;
    background-color: aliceblue;
    color: rgba(0, 0, 0, 0.459);
    height: 100%;
    cursor: pointer;
}
#nextt{
    grid-row: 14/ 15;
    grid-column: 2/ 3;
    border-radius: 10px;
    background-color: blue;
    color: white;
    height: 100%;
    cursor: pointer;
}

/* Designing of Second page of skills -----------> */

.skills--info {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
}

.suggestion{
    border: 1px solid blue;
    
}
